FIRECRAWL_API_KEY=your-firecrawl-api-key
LANGSMITH_API_KEY=your-langsmith-api-key
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
LANGCHAIN_PROJECT="mcp-langgraph"
OLLAMA_BASE_URL="http://localhost:11434"